<section id="trainers" class="trainers section-offset">
  <div class="container">
    <h2 class="section-title trainers__title">Профессиональные тренеры</h2>
    <div class="trainers__wrapper">
      <div class="swiper trainers__content">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="trainers__item">
              <picture>
                <source type="image/avif" srcset="img/teacher-1.avif">
                <source type="image/webp" srcset="img/teacher-1.webp">
                <img class="trainers__image" src="img/teacher-1.jpg" alt="Ирина Лайм" loading="lazy" width="360" height="500">
              </picture>
              <div class="trainers__name">Ирина Лайм</div>
              <div class="trainers__post">преподаватель по робототехнике</div>
              <button class="btn-reset trainers__btn btn--text" data-graph-path="trainer-1">Подробнее</button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="trainers__item">
              <picture>
                <source type="image/avif" srcset="img/teacher-2.avif">
                <source type="image/webp" srcset="img/teacher-2.webp">
                <img class="trainers__image" src="img/teacher-2.jpg" alt="Марина Орлова" loading="lazy" width="360" height="500">
              </picture>
              <div class="trainers__name">Марина Орлова</div>
              <div class="trainers__post">преподаватель по робототехнике</div>
              <button class="btn-reset trainers__btn btn--text" data-graph-path="trainer-1">Подробнее</button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="trainers__item">
              <picture>
                <source type="image/avif" srcset="img/teacher-3.avif">
                <source type="image/webp" srcset="img/teacher-3.webp">
                <img class="trainers__image" src="img/teacher-3.jpg" alt="Максим Петров" loading="lazy" width="360" height="500">
              </picture>
              <div class="trainers__name">Максим Петров</div>
              <div class="trainers__post">преподаватель по программированию</div>
              <button class="btn-reset trainers__btn btn--text" data-graph-path="trainer-1">Подробнее</button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="trainers__item">
              <picture>
                <source type="image/avif" srcset="img/teacher-4.avif">
                <source type="image/webp" srcset="img/teacher-4.webp">
                <img class="trainers__image" src="img/teacher-4.jpg" alt="Константин Назаров" loading="lazy" width="360" height="500">
              </picture>
              <div class="trainers__name">Константин Назаров</div>
              <div class="trainers__post">преподаватель по робототехнике</div>
              <button class="btn-reset trainers__btn btn--text" data-graph-path="trainer-1">Подробнее</button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="trainers__item">
              <picture>
                <source type="image/avif" srcset="img/teacher-5.avif">
                <source type="image/webp" srcset="img/teacher-5.webp">
                <img class="trainers__image" src="img/teacher-5.jpg" alt="Лиза Весенняя" loading="lazy" width="360" height="500">
              </picture>
              <div class="trainers__name">Лиза Весенняя</div>
              <div class="trainers__post">преподаватель по программированию</div>
              <button class="btn-reset trainers__btn btn--text" data-graph-path="trainer-1">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="trainers__nav">
        <div class="swiper-scrollbar trainers__scroll"></div>
        <div class="trainers__btns">
          <button class="btn-reset nav-btn trainers__slider-btn trainers__slider-btn--prev" aria-label="Перейти к предыдущему слайду"></button>
          <button class="btn-reset nav-btn trainers__slider-btn trainers__slider-btn--next" aria-label="Перейти к следующему слайду"></button>
        </div>
      </div>
    </div>
  </div>

</section>
